body{
    background-color: #dae4ee ;
}

.home{
    height: 102.75vh;
    background: linear-gradient(
        rgba(0,0,0,0.8), 
        rgba(0,0,0,0.2)),
        url("../Images/background.jpeg");
    background-size: cover;
}

.intro{
    color: whitesmoke;
    padding: 5% 18%;
    text-align: justify;
    font-size: 18px;
    font-weight: 200;
}

.name{
    font-size: 50px;
    font-weight: 500;
}